In [15]:
import pandas as pd 
import matplotlib.pyplot as plt 
import matplotlib.dates as md 
from functools import reduce

# microsoft
dfmsft = pd.read_csv(
    'MSFT.csv',
    index_col = False,
    parse_dates = ['Date']
)
dfmsft.set_index('Date', inplace = True)
dfmsft.sort_index()

# apple
dfaapl = pd.read_csv(
    'AAPL.csv',
    index_col = False,
    parse_dates = ['Date']
)
dfaapl.set_index('Date', inplace = True)
dfaapl.sort_index()

# facebook
dffb = pd.read_csv(
    'FB.csv',
    index_col = False,
    parse_dates = ['Date']
)
dffb.set_index('Date', inplace = True)
dffb.sort_index()

# google
dfgoog = pd.read_csv(
    'GOOG.csv',
    index_col = False,
    parse_dates = ['Date']
)
dfgoog.set_index('Date', inplace = True)
dfgoog.sort_index()

# telkomsel
dftlkm = pd.read_csv(
    'telkom.csv', 
    index_col = False,
    parse_dates = ['Tanggal']
    )

dftlkm.rename(
    columns = {'Tanggal': 'Date'},
    inplace = True
)

dftlkm.set_index('Date', inplace = True)
dftlkm = dftlkm.sort_index()

# indosat
dfidst = pd.read_csv(
    'indosat.csv',
    index_col = False,
    parse_dates = ['Tanggal']
)

dfidst.rename(
    columns = {'Tanggal': 'Date'},
    inplace = True
)

dfidst.set_index('Date', inplace = True)
dfidst = dfidst.sort_index()

# fren
dffren = pd.read_csv(
    'smartfren.csv',
    index_col = False,
    parse_dates = ['Tanggal']
)

dffren.rename(
    columns = {'Tanggal': 'Date'},
    inplace = True
)

dffren.set_index('Date', inplace = True)
dffren = dffren.sort_index()

# xl
dfxl = pd.read_csv(
    'xl.csv',
    index_col = False,
    parse_dates = ['Tanggal']
)

dfxl.rename(
    columns = {'Tanggal': 'Date'},
    inplace = True
)

dfxl.set_index('Date', inplace = True)
dfxl = dfxl.sort_index()

# merge
# newdf = pd.merge(dftlkm, dfgoog, dfaapl, on = 'Date', how = 'outer')
# dftlkm = dffinal['Close_x']
# dfgoog = dffinal['Close_y']
# print(newdf)

data_frames = [
    dftlkm['Close'], 
    dfidst['Close'],
    dffren['Close'],
    dfxl['Close'],
    dfaapl['Close'],
    dfmsft['Close'],
    dffb['Close'],
    dfgoog['Close'],
    ]

df_merged = reduce(
    lambda left,right: pd.merge(left,right,on=['Date'], how='outer'), data_frames)

df = df_merged
df.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
df

,a,b,c,d,e,f,g,h
Date,,,,,,,,
2016-01-04,3140.0,5325.0,51.0,3700.0,105.349998,54.799999,102.220001,741.840027
2016-01-05,3195.0,5400.0,51.0,3670.0,102.709999,55.049999,102.730003,742.580017
2016-01-06,3250.0,5375.0,51.0,3680.0,100.699997,54.049999,102.970001,743.619995
2016-01-07,3210.0,5350.0,50.0,3660.0,96.449997,52.169998,97.919998,726.390015
2016-01-08,3145.0,5300.0,51.0,3535.0,96.959999,52.330002,97.330002,714.469971
2016-01-11,3060.0,5325.0,50.0,3385.0,98.529999,52.299999,97.510002,716.030029
2016-01-12,3145.0,5425.0,50.0,3600.0,99.959999,52.779999,99.370003,726.070007
2016-01-13,3190.0,5400.0,50.0,3705.0,97.389999,51.639999,95.440002,700.559998
2016-01-14,3135.0,5400.0,50.0,3710.0,99.519997,53.110001,98.370003,714.719971
2016-01-15,3085.0,5475.0,52.0,3670.0,97.129997,50.990002,94.970001,694.450012
2016-01-18,3085.0,5300.0,51.0,3600.0,NaN,NaN,NaN,NaN
2016-01-19,3110.0,5275.0,50.0,3720.0,96.660004,50.560001,95.260002,701.789978
2016-01-20,3090.0,5300.0,51.0,3560.0,96.790001,50.790001,94.349998,698.450012
2016-01-21,3095.0,5100.0,50.0,3680.0,96.300003,50.480000,94.160004,706.590027
2016-01-22,3185.0,5150.0,51.0,3645.0,101.419998,52.290001,97.940002,725.250000
2016-01-25,3205.0,5225.0,50.0,3600.0,99.440002,51.790001,97.010002,711.669983
2016-01-26,3225.0,5300.0,51.0,3390.0,99.989998,52.169998,97.339996,713.039978
2016-01-27,3270.0,5475.0,51.0,3390.0,93.419998,51.220001,94.449997,699.989990
2016-01-28,3260.0,5450.0,50.0,3400.0,94.089996,52.060001,109.110001,730.960022
2016-01-29,3340.0,5475.0,50.0,3675.0,97.339996,55.090000,112.209999,742.950012
2016-02-01,3330.0,5550.0,50.0,3740.0,96.430000,54.709999,115.089996,752.000000
2016-02-02,3235.0,5450.0,50.0,3930.0,94.480003,53.000000,114.610001,764.650024
2016-02-03,3275.0,5500.0,50.0,4000.0,96.349998,52.160000,112.690002,726.950012
2016-02-04,3350.0,5550.0,50.0,4095.0,96.599998,52.000000,110.489998,708.010010
2016-02-05,3500.0,5425.0,50.0,4040.0,94.019997,50.160000,104.070000,683.570007
2016-02-09,3375.0,5575.0,50.0,4000.0,94.989998,49.279999,99.540001,678.109985
2016-02-10,3385.0,5525.0,51.0,3975.0,94.269997,49.709999,101.000000,684.119995
2016-02-11,3430.0,5500.0,50.0,3975.0,93.699997,49.689999,101.910004,683.109985
2016-02-12,3285.0,5375.0,50.0,3930.0,93.989998,50.500000,102.010002,682.400024
2016-02-15,3325.0,5400.0,50.0,3900.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2018-05-01,NaN,NaN,NaN,NaN,169.100006,95.000000,173.860001,1037.310059
2018-05-10,NaN,NaN,NaN,NaN,190.039993,97.910004,185.529999,1097.569946
2018-05-29,NaN,NaN,NaN,NaN,187.899994,98.010002,185.740005,1060.319946
2018-06-01,NaN,NaN,NaN,NaN,190.240005,100.790001,193.990005,1119.500000
2018-06-11,NaN,NaN,NaN,NaN,191.229996,101.050003,191.539993,1129.989990
2018-06-12,NaN,NaN,NaN,NaN,192.279999,101.309998,192.399994,1139.319946
2018-06-13,NaN,NaN,NaN,NaN,190.699997,100.849998,192.410004,1134.790039
2018-06-14,NaN,NaN,NaN,NaN,190.800003,101.419998,196.809998,1152.119995
2018-06-15,NaN,NaN,NaN,NaN,188.839996,100.129997,195.850006,1152.260010
2018-06-18,NaN,NaN,NaN,NaN,188.740005,100.860001,198.309998,1173.459961
2018-06-19,NaN,NaN,NaN,NaN,185.690002,100.860001,197.490005,1168.060059
2018-08-17,NaN,NaN,NaN,NaN,217.580002,107.580002,173.800003,1200.959961
2018-08-22,NaN,NaN,NaN,NaN,215.050003,107.059998,173.639999,1207.329956
2018-09-11,NaN,NaN,NaN,NaN,223.850006,111.239998,165.940002,1177.359985
2018-11-20,NaN,NaN,NaN,NaN,176.979996,101.709999,132.429993,1025.760010
2018-12-24,NaN,NaN,NaN,NaN,146.830002,94.129997,124.059998,976.219971
2018-12-31,NaN,NaN,NaN,NaN,157.740005,101.570000,131.089996,1035.609985
2019-02-05,NaN,NaN,NaN,NaN,174.179993,107.220001,171.160004,1145.989990
2019-03-07,NaN,NaN,NaN,NaN,172.500000,110.389999,169.130005,1143.300049
2019-04-03,NaN,NaN,NaN,NaN,195.350006,119.970001,173.539993,1205.920044
2019-04-17,NaN,NaN,NaN,NaN,203.130005,121.769997,178.779999,1236.339966
2019-05-01,NaN,NaN,NaN,NaN,210.520004,127.879997,193.029999,1168.079956
2019-05-30,NaN,NaN,NaN,NaN,178.300003,125.730003,183.009995,1117.949951
2019-06-03,NaN,NaN,NaN,NaN,173.300003,119.839996,164.149994,1036.229980
2019-06-04,NaN,NaN,NaN,NaN,179.639999,123.160004,167.500000,1053.050049
2019-06-05,NaN,NaN,NaN,NaN,182.539993,125.830002,168.169998,1042.219971
2019-06-06,NaN,NaN,NaN,NaN,185.220001,127.820000,168.330002,1044.339966
2019-06-07,NaN,NaN,NaN,NaN,190.149994,131.399994,173.350006,1066.040039
2019-07-22,NaN,NaN,NaN,NaN,207.220001,138.429993,202.320007,1138.069946
2019-07-23,NaN,NaN,NaN,NaN,208.839996,139.289993,202.360001,1146.209961